/* Overrides */
p {
  text-align: justify;
}


/* Generics */
.textCenter {
  text-align: center;
}


/* Intro */
.mySubtitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}
